<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>

<link rel= "stylesheet" href= "Content\about.css"/>
<link rel= "stylesheet" href= "Content\jumbotron.css"/>

<main>
  <div class="jumbotron">
    <h1 class="display-4">Hello!</h1>
    <p class="lead">This is <%= title %>.</p>
    <hr class="my-4">
  </div>

 <div>
  <p class="text">
    Welcome to my Weight Tracker application! My platform is designed to provide an intuitive and powerful tool to help you track, manage, and achieve your weight and health goals. Whether you’re aiming to lose weight, gain muscle, or simply maintain a healthy lifestyle, my app allows you to effortlessly monitor your progress and stay motivated every step of the way.
  </p>

  <p class="text">
    With my application, you can:
    <ul>
      <li><strong>Log Your Weight:</strong> Quickly add your weekly weight measurements along with the date and optional notes to document your journey. Whether it's for tracking progress or noting important health milestones, it’s easy to stay consistent.</li>
      <li><strong>Edit or Delete Entries:</strong> Keep your weight records up-to-date and organized. You can easily modify or remove any entries to ensure your data reflects your latest progress or changes.</li>
      <li><strong>Set Goals:</strong> Define your personal weight goals and track your progress towards achieving them. You can review past entries to measure improvement and stay motivated.</li>
      <li><strong>Visualize Your Progress:</strong> Get a clear view of your weight changes over time with simple charts and graphs, helping you understand your journey and adjust your goals accordingly.</li>
    </ul>
  </p>

  <p class="text">
    My application is perfect for anyone who wants to take control of their health and fitness journey. Whether you are a fitness enthusiast looking to track muscle gains, someone on a weight-loss journey, or an individual just aiming to maintain a healthy weight, this platform is tailored to support all types of users. We aim to make weight tracking as easy and effective as possible, empowering you to stay focused on your personal health goals.
  </p>

  <p class="text">
    Start tracking your weight today and experience the difference it makes in achieving your fitness goals! If you have any questions or need further assistance, please feel free to reach out to me through my contact page.
  </p>
</div>

<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>