<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>

<link rel= "stylesheet" href= "Content\about.css"/>

<main>
  <div class="jumbotron">
    <h1 class="display-4">Hello!</h1>
    <p class="lead">This is <%= title %>.</p>
    <hr class="my-4">
  </div>

  <div>
<p class="text">
  Welcome to our Weight Tracker application! This platform is designed to help you monitor and manage your weight effectively. Whether you're setting fitness goals, tracking progress, or simply maintaining a healthy lifestyle, our user-friendly tools make weight management simple and efficient.
</p>
<p class="text">
  With our application, you can:
  <ul>
    <li><strong>Log Your Weight:</strong> Easily add entries with date, weight, and optional notes to document your journey.</li>
    <li><strong>Edit or Delete Entries:</strong> Keep your records up to date and organized with full control over your data.</li>
  </ul>
</p>
<p class="text">
  This application is ideal for individuals striving to achieve their health goals, whether you're a fitness enthusiast, a health-conscious individual, or someone on a weight-loss journey. Our mission is to empower users with accessible, effective tools to take control of their health and well-being.
</p>
<p class="text">
  Start tracking your weight today! If you have any questions or need assistance, feel free to visit our contact page.
</p>
<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>